
body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
}
h1{
    color: #6096B4;
    margin-top: 20px;
    margin-bottom: 0;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
}

.pro {
    text-decoration: underline;
    font-weight: bold;
    color: #4D4C7D;
}

.bottom_cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

.top_cloud {
    position: absolute;
    top: 50px;
    right: 300px;
}

.top {
    background-color: #EEE9DA;
    position: relative;
    padding-top: 100px;
    /* padding-bottom: 30px; */
}

.codee {
    border-radius: 50%;
    width: 50%;
    float: left;
    margin-right: 30px;
}

.programmer {
    color: #93BFCF;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: normal;
}

.profile {
    margin-top: 80px;
    size: 25%;
}

.para1 {
    padding-bottom: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.algo {
    width: 30%;
    float: right;
    margin-left: 30px;
}

.btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #595959;
    font-size: 20px;
    background: #a4f2b1;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #92cdeb;
    text-decoration: none;
  }

  hr {
    border: dotted #BDCDD6 6px;
    /* color: #BDCDD6; */
    border-bottom: none;
    width: 5%;
    margin: 50px auto;
  }

  .contact-me {
    width: 40%;
    margin: 60px auto 50px auto;
    font-family: 'Merriweather Sans', sans-serif;
  }

  .bottom-container {
    background-color: #93BFCF;
    padding-top: 10px;
    padding-bottom: 15px;
  }

  a {
     color: #CB1C8D;
     font-family: 'Merriweather Sans', sans-serif;
     margin: 10px 20px 10px 20px;
     text-decoration: none;
  }

  a:hover {
    color: #4B56D2;
  }

  .rights {
    color: #777e82;
    font-size: 0.8rem;
    padding: 20px 0px;
  }